.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid rgb(203, 22, 22);
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid rgb(194, 13, 13);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 5px;
    font-weight: bold;
    width: 130px;
    color: white;
}

.BuildControl .Less {  
    background-color: rgb(223, 59, 59);
    color: white;
}

.BuildControl .More {
    background-color: rgb(194, 13, 13);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(206, 86, 86);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgba(194, 13, 13, 0.685);
    color: white;
}